<% content_for :title do %> <%= params[:channel] %>
<% end %>
<div class="panel callout radius"><h1>Commands for <small><%= params[:channel] %></small>
</h1></div>
<p>Find me in app/views/dashboard/command.html.erb</p>
<table>
    <tr>
        <th>Name</th>
        <th>Response</th>
        <th>Script</th>
        <th>User Level</th>
    </tr>
    <% @command.each do |command| %>
        <tr>
            <td><%= command.name %></td>
            <td><%= command.response %></td>
            <td><%= command.script %></td>
            <td><%= command.execUserLevel.capitalize! %></td>
        </tr>
    <% end %>
</table>